head {
    background-color: purple;
}
h1 {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}